.conteudo__confira{
    display: flex;
}

.titulo__confira-principal{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 15rem;

}

/*especiais*/
.titulo__confira{
    text-align: center;
    margin-top: 10rem; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


.card__confira{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    max-width: 280px;
    max-height: 384px;
    margin: 10rem 25px 30px 25%;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
}

.card__confira:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.img__confira{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    transition: 1.5s all;
    
}

.img__confira:hover{
    width: 100%;
    transition: 1.5s ;
    transform: scale(1.1);
}

.container__confira{
    padding: 2px 16px;

}

.botao__confira{
    width: 100%;
	padding: 15px 0;
	background: darkseagreen;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 7px;
	transition: 1.5s all;
	cursor: pointer;
}

.botao__confira:hover {
    background: green;
    transform: scale(1.1);
}

.titulo__confira{
    font-family: 'Montserrat', sans-serif;
}

/*regular*/

.card__confira-regular{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    max-width: 280px;
    max-height: 415px;
    margin: 10rem 25px 30px 25px;
    flex-direction: row;
    border-radius: 25px;
    
}

.card__confira-regular:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.img__confira-regular{
    width: 72%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    transition: 1.5s all;
    
}

.img__confira-regular:hover{
    width: 100%;
    transition: 1.5s ;
    transform: scale(1.1);
}

.container__confira-regular{
    padding: 2px 16px;

}

.titulo__confira-regular{
    text-align: center;
    margin-top: 10rem; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none
}

.botao__confira-regular{
    width: 100%;
	padding: 15px 0;
	background: darkseagreen;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: none;
	border-radius: 7px;
	transition: 1.5s all;
	cursor: pointer;
}

.botao__confira-regular:hover {
    background: green;
    transform: scale(1.1);
}
